@model Adopte_Un_Dev_Conso.Models.ContractWithSkillsModel

@{
    ViewData["Title"] = "Liste des Projets";
}

<h1>Liste des Projets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ContractID
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Deadline
            </th>
            <th>
                Client
            </th>
            <th>
                Needed Skills
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListContract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeededSkillsText)
            </td>
        </tr>
}
    </tbody>
</table>
