@model Adopte_Un_Dev_Conso.Models.ContractWithSkillsModel

@{
    ViewData["Title"] = "Liste de mes Contrats";
}

<h1>Liste de mes Contrats</h1>

<p>
    <button class="btn btn-primary mb-2" type="button" value="Redirect" onclick="window.location='@Url.Action("AddContract", "Contract")'">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ContractID
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Deadline
            </th>
            <th>
                Client
            </th>
            <th>
                Needed Skills
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListContract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeededSkillsText)
            </td>
            <td>
					<a class="btn btn-warning" asp-action="EditContract" asp-route-id="@item.ContractID" asp-route-de="@item.Description" asp-route-pr="@item.Price" asp-route-dl="@item.DeadLine" asp-route-nSt="@item.NeededSkillsText">Edit</a>
					<a class="btn btn-danger" asp-action="DeleteContract" asp-route-id="@item.ContractID">Delete</a>

                @*@Html.ActionLink("Edit", "EditContract", new { id=item.ContractID, de=item.Description, pr=item.Price, dl=item.DeadLine, nSt=item.NeededSkillsText }) |
                @Html.ActionLink("Delete", "DeleteContract", new { id=item.ContractID })*@
            </td>
        </tr>
}
    </tbody>
</table>
