@using System.Linq;
@model Adopte_Un_Dev_Conso.Models.UserDevModel

@{
	ViewData["Title"] = "Tableau de bord";
}

<h1>Tableau de bord</h1>

<div>
 <hr />
 <dl class="row">
  <dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
  </dt>
  <dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
  </dd>
  <dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
  </dt>
  <dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
  </dd>
  <dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telephone)
  </dt>
  <dd class="col-sm-10">
			@Html.DisplayFor(model => model.Telephone)
  </dd>
 </dl>
</div>
 <h4>Mes Skills</h4>

<table class="table">
 <thead>
  <tr>
   <th>
	Skill
   </th>
   <th>
	Category
   </th>
   <th></th>
  </tr>
 </thead>
 <tbody>
		@foreach (var item in Model.UserSkills)
		{
			@foreach (var us in Model.ListSkills)
			{
				@if (us.SkillID == item.SkillID)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => us.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => us.CName)
						</td>
						<td>
							<a class="btn btn-warning" asp-action="EditUserSkill" asp-route-id="@item.UserSkillID">Edit</a>
					<a class="btn btn-danger" asp-action="DeleteUserSkills" asp-route-id="@item.UserSkillID">Delete</a>
							@*@Html.ActionLink("Edit", "EditUserSkill", new { id=item.UserSkillID }) |
							@Html.ActionLink("Delete", "DeleteUserSkills", new { id=item.UserSkillID })*@
						</td>
					</tr>
				}
			}
		}
 </tbody>
</table>
<div>
	 @if (Model.UserSkills.Count() < 5)
	{
            <button class="btn btn-primary mb-2" type="button" value="Redirect" onclick="window.location='@Url.Action("AddUserSkill", "Dev")'" >Create</button>
	} 
	else
	{
		<button class="btn btn-primary mb-2" type="button" disabled>Create</button>
	}
</div>
